<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss}) %blue([%t]) - %green(%-15(%M)) - %highlight(%-5level) -%boldMagenta(%c{1}) - %cyan(%msg%n)
      </pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
